# ---------------- Python ----------------
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/

# ---------------- Terraform ----------------
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
terraform.tfvars.json
backend.tf
crash.log
.terraform.lock.hcl

# ---------------- AWS / Infra ----------------
opensearch-data/
otelcol-data/
collector-data/

# ---------------- macOS ----------------
.DS_Store

# ---------------- IDE ----------------
.vscode/
.idea/
*.code-workspace

# ---------------- Logs ----------------
*.log
logs/

# ---------------- Node.js ----------------
node_modules/
npm-debug.log*

# ---------------- Java ----------------
target/
*.class

# ---------------- Go ----------------
bin/
coverage.out

# ---------------- Docker ----------------
*.tar

# ---------------- Kubernetes secrets ----------------
*.secret.yaml
*secret*.yaml
secret.yaml
secrets.yaml
*-secret.yaml

# ---------------- Env files ----------------
.env
.env.*

# ---------------- Build artifacts ----------------
dist/
build/